fastapi==0.110.0
filetype==1.2.0
gradio==4.22.0
inquirer==3.2.4
numpy==1.26.4
onnx==1.15.0
onnxoptimizer==0.3.13
onnxruntime==1.16.3
opencv_python==4.8.1.78
Requests==2.31.0
tqdm==4.66.1
uvicorn==0.29.0
